<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <h2>Welcome to my restaurant!</h2>
    <a href="/cook">Show all cooks</a>
    <br>
    <a href="/menu">Show all meals</a>

    <form action="/cook" method="post">
        <label>Cooks name</label>
        <input type="text" name="name" placeholder="Cook's name">
        <label>Cook's lastName</label>
        <input type="text" name="lastName" placeholder="Cook's lastname">
        <input type="submit" value="Add">
    </form>
    <hr>
    <form action="/menu" method="post">
        <label>Cook's id</label>
        <input type="number" name="cook_id" placeholder="Cook's cook_id">
        <label>Meal label</label>
        <input type="text" name="label" placeholder="Meal label">
        <label>Price</label>
        <input type="number" name="price" placeholder="Price">
        <label>Ingredients</label>
        <input type="text" name="ingredients" placeholder="Ingredients">
        <input type="submit" value="Add">
    </form>
</body>
</html>